body{
	color:black;
	background-color:gray;
	font-style: Arial; 
}
.wrapper{
	display: grid;
	grid-template-columnss: 1fr 1fr 1fr;
	grid-template-areas: "content1 content2 content3";
}
.content1{
	display:grid;
	grid-area: "content1"; 
	border:black;
}
.content2{
	display:grid;
	grid-area: "content2"; 
	border:black;
}

.content3{
	display:grid;
	grid-area: "content3";
	border-collapse: pblack;	
}



h1{
	font-style: Arial;
	color:blue;
	font-size:22px;
	
}	
p{
	color:black;
	font-size: 14px;               	
} 
h2{
	color:red;
	text-align:center;
	font-size:22px;
	
}
h3{
	text-align:right;
}
.p2 {
	background-color: gray;
	color:purple;
	text-align:center
}

.special{
	color:black;
	font-size: 14px;
}
.p3{
	text-align:right;
	
}

}
a {
text-decoration: none;
}
