body{
	color:#63594d;
	font-family: Arial; 
	background-image: url(https://i.gifer.com/33HO.gif);
}


.wrapper{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "content1 content2 content3";
}
.content1{
	display:grid;
	border:black;
	font-size: 16px;
}
.content2{
	display:grid;
	border:black;
	text-align: center;
	font-size: 16px;
}

.content3{
	display:grid;
	text-align: center;
	font-size: 16px;
}


a {
text-decoration: none;
}
